/* @font-face {
  font-family: 'Flexo';
  src: local('Flexo Demi'), local('Flexo-Demi'),
  url('Flexo-Demi.woff2') format('woff2'),
  url('Flexo-Demi.woff') format('woff'),
  url('Flexo-Demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

body {
  margin: 0;
  font-family: rubik;
  color: white;
}
.container {
  padding: 100px;
  margin: 0 auto;
  background-image: url(./assets/background_pokecards.jpg);
  background-size: contain;
}

header {
display: flex;
justify-content: space-between;
align-items: flex-end;
}

.search-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search_input {
  border-radius: 10px;
  width: 25vh;
  padding: 8px;
  border: solid 2px gold;
  background-color: black;
  color: white;
  font-size: medium;
}

.btn_info {
border-radius: 10px;
background-color: black;
border: solid 2px gold;
color: red;
font-size: medium;

}

.title {
    display: flex;
    justify-content: center;
  }

  .poke_img {
    height: 100px;
    width: 350px;
   
  }
 
  .card {
    height: 250px;
    width: 170px;
    list-style: none;
    padding: 30px;
    color: rgb(217, 246, 246);
    text-align: center;
    border-radius: 20%;
    border: solid 2px black;
    background-image: url(./assets/card_image.png);
    opacity:0.92;
    transition: 1s ease;
    transition: 1s ease;
  }

.card:hover {
    border-color: lightyellow;
    opacity:1;
    transition: 1s ease;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
    border-radius: 0%;
  }

  /* nueva clase imagen */
  .imagen {
    width: 65%;
    height: 65%;
   
  }

  .imagen:hover {

  }

  .divInfo {
    display: flex;
    flex-direction: column;
  }

  .card-title {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: normal;
    margin: 0px;
  }

  .card-subtitle {
    font-weight: lighter;
    color: rgb(242, 79, 10);
    margin-top: 5px;
  }

  #pokedex {
    padding-inline-start: 0;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 30px;
    border: solid 5px white;
    border-radius: 50px;
    background-image: url(./assets/grass_background.png);
  }

  

  .types-container {
    display: flex;
    justify-content: space-evenly;

  }

  .type {
    width: 70px;
    padding: 4px;
    border-radius: 10px;
    text-transform: capitalize;
    display: inline-block;

    color: whitesmoke;
  }


  @keyframes bounce {
    20% {
      transform: translateY(-6px);
    }
    40% {
      transform: translateY(0px);
    }
    60% {
      transform: translateY(-2px);
    }
    80% {
      transform: translateY(-0px);
    }
  }

 