/* @font-face {
  font-family: 'Flexo';
  src: local('Flexo Demi'), local('Flexo-Demi'),
      url('Flexo-Demi.woff2') format('woff2'),
      url('Flexo-Demi.woff') format('woff'),
      url('Flexo-Demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

body {
    margin: 0;
    font-family: rubik;
    color: white;
  }
  .container {
    
    padding: 100px;
    margin: 0 auto;
    background-image: url(./assets/background_pokecards.jpg);
    background-size: contain;
  }

  h1 {
    text-transform: capitalize;
    text-align: center;
    font-size: 70px;
    
  }
  .card {
    height: 250px;
    width: 170px;
    list-style: none;
    padding: 30px;
    color: white;
    text-align: center;
    border-radius: 60px;
    border: solid 2px #be5c5c;
    background-image: url(./assets/card_image.png);
  }

   /* .card:before {
    content:'';
    width: 100%;
    height: 100%;
    background-image: url(./assets/card_image.png);
    
  }  */

  /* nueva clase imagen */
  .imagen {
    width: 65%;
    height: 65%;
   
  }

  .divInfo {
    display: flex;
    flex-direction: column;
  }

  .card-title {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: normal;
    margin: 0px;
  }

  .card-subtitle {
    font-weight: lighter;
    color: #666;
    margin-top: 5px;
  }
  .card-image {
    height: 180px;
  }

  #pokedex {
    padding-inline-start: 0;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 30px;
    border: solid 5px #be5c5c;
    border-radius: 50px;
    background-image: url(./assets/grass_background.png);
  }

  .card:hover {
    animation: bounce 0.5s linear;
  }

  .type {
    padding: 4px 8px;
    border-radius: 4px;
    text-transform: capitalize;
    display: inline-block;
    color: whitesmoke;
  }

  .type[pokemon-type='grass'] {
background-color: green;
  }

  @keyframes bounce {
    20% {
      transform: translateY(-6px);
    }
    40% {
      transform: translateY(0px);
    }
    60% {
      transform: translateY(-2px);
    }
    80% {
      transform: translateY(-0px);
    }
  }

 